@using FractalBookStore;
 
@model  Book[]

@{
    ViewData["Title"] = "Result of the search";
}

<h3>Result of the search</h3>


@if (Model.Length == 0)
{
    <p>Nothing is searched.</p>
}
else
{
   <ul>
       @foreach (var book in Model)
      {
          <li><a href="@Url.Action("Index","Book", new{id=book.Id})">@book.Title</a></li>
      }
   </ul>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
 