@using FractalBookStore;
 
@model  Book[]

@{
    ViewData["Title"] = "Result of the search";
}

<h4>Result of the search:</h4>


@if (Model.Length == 0)
{
    <p>Nothing is searched.</p>
}
else
{
   <ul style=" list-style: none;">
       @foreach (var book in Model)
      {
           
          <li class="p-3 mb-2 bg-white text-black border border-info">
              <a href="@Url.Action("Index","Book", new{id=book.Id})"> Title: @book.Title</a>
              <br/><br/>Description: @book.Description 
              <br/><br/>Price: @book.Price $
              <br/><br/>          
          </li>           
      }
   </ul>   
}
 
 